@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.highlight-yellow {
  background: #FED766;
  padding: 0 4px;
  border-radius: 4px;
  color: #000;
}

.highlight-blue {
  background: #97EFE9;
  padding: 0 4px;
  border-radius: 4px;
  color: #000;
}
